<!DOCTYPE html>
<html>
  <head>
    <title>Community</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>
  <%= link_to 'Community', root_path, class: 'offset-1 navbar-brand' %>
  <%= link_to 'Create a new subcommunity',new_subcommunity_path, class: 'nav-link float-right btn btn-success btn-sm' %>
  </nav>


    <%= yield %>
  </body>
</html>
